<%- include('partials/header') -%>
  <div class="container mainBox bg-primary rounded">
    <div class="row mt-5 justify-content-center gameContainer">
      <div class="row text-white justify-content-center">
        <!-- <h2 class="col-4 fw-bold text-center" id="highDisplay">Personal Best: <%= user.highScore %></h2> -->
        <h2 class="col-4 fw-bold text-center" id="currentDisplay">Current Score: 0</h2>
      </div>
        <img class="mon" src="../imgs/pkmn151/0.png" alt="">
        <h1 class="resultPrompt fw-bold text-center text-white"></h1>
    <div class="row justify-content-md-center">
        <button class="getMon col col-lg-2 btn btn-secondary">Get Logo</button>
        <form class="col-md-auto form-control-lg" autocomplete="off" action="javascript:void(0);">
            <input id="userAnswer" type="text"/>
        </form>
        <button class="show col col-lg-2 btn btn-secondary">Submit</button>
    </div>
    </div>
  </div>  
  <!-- <div>
      <button class="btn-primary submitScore">Submit New High Score</button>
  </div>
  <span class="invis"><%= user.userName %></span> -->
<%- include('partials/footer') -%>