<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <!-- <h1 class="align-items-center">Welcome to Who's That Pokémon</h1> -->
    <div id="home" class="row bg-primary bg-gradient rounded text-white">
        <img id="pikachu" class="col" src="imgs/pika.png" alt="">
        <p class="col" id="intro">This is a game I put together based on the the segment in the anime. For those unfamiliar you will be given a silhouette of a Pokémon and your job is to guess the name of it. Currently the choices are all from Generation 1 (Green, Red, Blue) so old time fans can still play and see how much they remember. All you need to do is sign-in and get playing. Have Fun!<br/>Also if you don't want to signup (no emails will be sent to you) you can use email: ash@gmail.com and password: catch123 to login</p></div>
</main>
    

<%- include('partials/footer') -%>